.bg_fire {
	background-color: red;
}
.bg_grass {
	background-color: green;
}

.bg_normal {
	background-color: whitesmoke;
	p {
		color: black;
	}
}
.bg_bug {
	background-color: rgb(168, 157, 0);
}
.bg_poison {
	background-color: rgb(170, 248, 0);
	p {
		color: black;
	}
}
.bg_water {
	background-color: rgb(106, 220, 255);
	p {
		color: black;
	}
}
.bg_electric {
	background-color: rgb(0, 108, 248);
}
.bg_fairy {
	background-color: rgb(234, 150, 255);
}
.bg_ground {
	background-color: rgb(91, 69, 0);
}
.bg_fighting {
	background-color: rgb(239, 147, 0);
}
.bg_psychic {
	background-color: rgb(126, 38, 132);
}
.bg_rock {
	background-color: rgb(103, 102, 104);
}
.bg_ghost {
	background-color: rgb(239, 223, 255);
	p {
		color: black;
	}
}
.bg_steel {
	background-color: rgb(223, 253, 255);
	p {
		color: black;
	}
}
.bg_dark {
	background-color: rgb(20, 49, 53);
}
.bg_ice {
	background-color: rgb(255, 255, 255);
	p {
		color: black;
	}
}
.bg_dragon {
	background-color: rgb(177, 76, 76);
}
